<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
    <header class="cabecalho">
      <nav>
        <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <div class="perfil">
        <img src="../assets/img/perfil.jpeg" />
        <h1>Felipe da Costa Xavier</h1>
        <p>Full Stack Developer</p>
      </div>
    </header>
    <main>
      <section id="about" class="about">
        <div class="bio">
          <h2>About me</h2>
          <div>
            <p>
              Meu nome é Felipe, tenho 21 anos, nasci no estado do Rio de
              Janeiro e desde criança que eu tenho esse certo fascínio pela
              tecnologia seja elas computadores, brinquedos ou videogames.
              Quando mais novo, sempre que tinha um computador ou videogame na
              minha frente meus olhos brilhavam de uma forma que eu não
              conseguia explicar e por não ter muitas condições para se ter isso
              na época, o meu desejo de possuir tal tecnologia era maior ainda e
              meu amor por isso foi só aumentando. Ao longo dos anos eu
              conseguir conquistar essas coisas, mesmo que não sendo todas que
              eu desejava, de tecnologia avançada ou de alto custo. A pouco
              tempo atrás, depois de pensar muito sobre qual carreira eu queria
              ter, decidir me tornar um programador por ter essa paixão e
              afinidade pela área e por ela oferecer estabilidade financeira
            </p>
          </div>
        </div>

        <div>
          <img
            src="../assets/img/criança-fascinada-com-pc.png"
            alt="Menino fascinado com um computador"
          />
        </div>

      </section>
      <section class="habilidades">
        <h2>Skills</h2>
        <div class="cards">
          <div>
            <img src="../assets/img/html.png" alt="" />
          </div>
          <div>
            <img src="../assets/img/css.png" alt="" />
          </div>
          <div>
            <img src="../assets/img/js.png" alt="" />
          </div>
          <div>
            <img src="../assets/img/computer-chip.png" alt="" />
          </div>
        </div>
      </section>
      <section class="projetos">
        <h2>Projetos realizados</h2>
        <div class="cartoesDeProjetos">
          <div>
            <img
              src="../assets/img/projeto-xdevs.png"
              alt="Um projeto feito com cards"
            />
            <a
              href="https://xxthund3rxx.github.io/projeto-xdevs-szpc/"
              target="_blank"
              ><button>Clique aqui para visualizar</button></a
            >
          </div>
          <div>
            <img src="../assets/img/projeto-pda.png" alt="" />
            <a
              href="https://scratch.mit.edu/projects/1051565401"
              target="_blank"
              ><button>Clique aqui para visualizar</button></a>
          </div>
        </div>
      </section>
    </main>
    <footer id="rodape">
      <p>By Felipe Xavier</p>
      <div class="icons">
        <a href="https://www.linkedin.com/in/felipe-xavier-91a3582b5/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/xXTHUND3RXx" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/f3lip3xavier/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </footer>
  </body>
</html>
